:root {
  --primary-color: #4CAF50;
  --secondary-color: #f1f1f1;
  --text-color: #333;
  --text-color2: #fff;
  --border-color: white;
  --button-color: #008CBA;
  --button-hover-color: #005f73;
}

.darkmode {
  --primary-color: #333;
  --secondary-color: #555;
  --text-color: #f1f1f1;
  --text-color2: #000;
  --border-color: #888;
  --button-color: #4CAF50;
  --button-hover-color: #45a049;
}

body {
  font-family: Arial, 'Roboto', sans-serif;
}
.game {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: grey;
  flex-grow: 1;
}
.display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.input {
  width: 200px;
  height: 50px;
  font-size: 24px;
  text-align: center;

}
.button {
  width: 100px;
  height: 50px;
  font-size: 24px;
  margin: 10px;
}

.choice {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.bot-choice, .player-choice {
  width: 200px;
  height: 200px;
  font-size: 100px;
  padding: 100px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fff;
  border-radius: 20px;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.close {
  background-color: blue;
  margin: 0px;
  padding-left: 20px;
  padding-right: 20px;
  float: right;
  font-size: 28px;
  border-radius: 10px;
}

.header {
  font-size: 24px;
  text-align: center;
  padding: 30px;
  background-color: aquamarine;
  font-family: 'Roboto';
}

.header.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: black;
  ;
}

.header.button:hover {
  background-color: darkcyan;
}